flows.json
[
    {
        "id": "f8aa3235cf2ec5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "victron-client-id",
        "type": "victron-client"
    },
    {
        "id": "718f5fabaac10b79",
        "type": "ui-base",
        "name": "Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "65d08f24e020703e",
        "type": "ui-theme",
        "name": "Theme",
        "colors": {
            "surface": "#ff6a00",
            "primary": "#ff6a00",
            "bgPage": "#ffffff",
            "groupBg": "#ebebeb",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "10px",
            "groupGap": "10px",
            "groupBorderRadius": "4px",
            "widgetGap": "0px"
        }
    },
    {
        "id": "8dea16c6d0827c7a",
        "type": "ui-page",
        "name": "Overview",
        "ui": "718f5fabaac10b79",
        "path": "/overview",
        "icon": "home",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b5a02095750de218",
        "type": "ui-group",
        "name": "LPG",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "2",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d0be2aa0c9296d83",
        "type": "ui-page",
        "name": "Battery",
        "ui": "718f5fabaac10b79",
        "path": "/battery",
        "icon": "battery-outline",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "767b6a32326315fd",
        "type": "ui-group",
        "name": "Solar Power [W]",
        "page": "949188085ecf898f",
        "width": "9",
        "height": "6",
        "order": -1,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "949188085ecf898f",
        "type": "ui-page",
        "name": "Solar",
        "ui": "718f5fabaac10b79",
        "path": "/solar",
        "icon": "white-balance-sunny",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b6dffcc7f93dd2cd",
        "type": "ui-group",
        "name": "State of Charge [%]",
        "page": "d0be2aa0c9296d83",
        "width": "9",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ab8d8a0602f7be5f",
        "type": "ui-group",
        "name": "Battery",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "7",
        "order": 2,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "851a19cf340c4af4",
        "type": "ui-group",
        "name": "Solar",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "my-row-span-3",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4a46055ef71bd0a1",
        "type": "ui-page",
        "name": "LPG",
        "ui": "718f5fabaac10b79",
        "path": "/lpg",
        "icon": "gas-cylinder",
        "layout": "grid",
        "theme": "65d08f24e020703e",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a50cae230ad147cc",
        "type": "ui-group",
        "name": "Gas Level [%]",
        "page": "4a46055ef71bd0a1",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ac3765750752ad30",
        "type": "ui-group",
        "name": "Coffee Machine",
        "page": "8dea16c6d0827c7a",
        "width": "3",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3f46b93f98d0309b",
        "type": "ui-group",
        "name": "Battery [%]",
        "page": "4a46055ef71bd0a1",
        "width": "3",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "322d6acb8e1cc698",
        "type": "ui-radio-group",
        "z": "f8aa3235cf2ec5d8",
        "group": "ac3765750752ad30",
        "name": "",
        "label": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "value": 1,
                "type": "num"
            },
            {
                "label": "ON",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "ac748dfed8bde63e"
            ]
        ]
    },
    {
        "id": "29cec00149931088",
        "type": "victron-input-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "322d6acb8e1cc698"
            ]
        ]
    },
    {
        "id": "caac6b36d4f9aa63",
        "type": "victron-output-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "remarks": "<p>Note that <tt>/ModeIsAdjustable</tt> needs to be set to 1.</p> ",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "ac748dfed8bde63e",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "caac6b36d4f9aa63"
            ]
        ]
    },
    {
        "id": "68cd119202b6afa0",
        "type": "victron-input-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/CurrentLimit",
            "type": "float",
            "name": "Active input current limit (A)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "baae88c3c306dfa8"
            ]
        ]
    },
    {
        "id": "baae88c3c306dfa8",
        "type": "ui-radio-group",
        "z": "f8aa3235cf2ec5d8",
        "d": true,
        "group": "ac3765750752ad30",
        "name": "",
        "label": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "3A",
                "value": 3,
                "type": "num"
            },
            {
                "label": "6A",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "558f6f45d263d5d6"
            ]
        ]
    },
    {
        "id": "558f6f45d263d5d6",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "f772af2d45f8cbd2"
            ]
        ]
    },
    {
        "id": "f772af2d45f8cbd2",
        "type": "victron-output-vebus",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "0. Multiplus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/CurrentLimit",
            "type": "float",
            "name": "Active input current limit (A)",
            "writable": true
        },
        "name": "",
        "onlyChanges": false,
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "d484eb5024a5ef6b",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/TimeToGo",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/TimeToGo",
            "type": "float",
            "name": "Time to go (s)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d513c7470ec52861"
            ]
        ]
    },
    {
        "id": "8de0f31731dac937",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "ab8d8a0602f7be5f",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#444444",
        "className": "",
        "x": 1450,
        "y": 280,
        "wires": []
    },
    {
        "id": "ab9594709675199f",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "b6dffcc7f93dd2cd",
        "name": "",
        "label": "",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "101",
        "action": "append",
        "pointShape": "line",
        "pointRadius": "1",
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "9",
        "height": "6",
        "className": "",
        "x": 920,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "78a58c77ab3e845f",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "5151a402f810af21",
                "1371fa72328a0d9e"
            ]
        ]
    },
    {
        "id": "135cbdeefb03861f",
        "type": "victron-input-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/Yield/Power",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/Yield/Power",
            "type": "float",
            "name": "PV Power (W)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "0",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "32a18f0f46d9c442",
                "3a81adc150247b0b"
            ]
        ]
    },
    {
        "id": "67b30e90fc149ad2",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "767b6a32326315fd",
        "name": "",
        "label": "",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "-2",
        "ymax": "500",
        "action": "append",
        "pointShape": "line",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff9300",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "9",
        "height": "6",
        "className": "",
        "x": 920,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c8c2033f38bb673a",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "ab8d8a0602f7be5f",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "replace",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "3",
        "height": "5",
        "className": "my-chart-vertical-large",
        "x": 920,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2dbf19b7bcaa6a45",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "851a19cf340c4af4",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "replace",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff9300",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "3",
        "height": "5",
        "className": "my-chart-vertical-large",
        "x": 920,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "32a18f0f46d9c442",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "convert to %",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload / 500 * 100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "b00aac81eb2503b4"
            ]
        ]
    },
    {
        "id": "b00aac81eb2503b4",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Solar Power [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 880,
        "wires": [
            [
                "2dbf19b7bcaa6a45"
            ]
        ]
    },
    {
        "id": "5151a402f810af21",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "State of Charge [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 820,
        "wires": [
            [
                "c8c2033f38bb673a"
            ]
        ]
    },
    {
        "id": "6b894dfa8fce8594",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "851a19cf340c4af4",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#444444",
        "className": "",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "ed23a58468ca244c",
        "type": "victron-input-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/History/Daily/0/Yield",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/History/Daily/0/Yield",
            "type": "float",
            "name": "Yield today (kWh)"
        },
        "name": "",
        "onlyChanges": true,
        "roundValues": "no",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "a69a463b5e9d760d"
            ]
        ]
    },
    {
        "id": "a69a463b5e9d760d",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "convert to Wh (%)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(msg.payload * 1000) & \" Wh\" & \" (\" & $round((msg.payload * 0.038 * 1000)) & \"%)\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 940,
        "wires": [
            [
                "6b894dfa8fce8594"
            ]
        ]
    },
    {
        "id": "3a81adc150247b0b",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 700,
        "wires": [
            [
                "a56a718a7243b9e2"
            ]
        ]
    },
    {
        "id": "1371fa72328a0d9e",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "99d27a219a9e5136"
            ]
        ]
    },
    {
        "id": "5b27b42971c91c2b",
        "type": "BLE Scan",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "268c6564a8a5c0cf"
            ]
        ]
    },
    {
        "id": "268c6564a8a5c0cf",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "JSON",
        "func": "msg.payload = JSON.parse(String(msg.payload));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "3762895bdd991b1c"
            ]
        ]
    },
    {
        "id": "3762895bdd991b1c",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:69",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:73",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "899a8ccc502c637f"
            ],
            [
                "899a8ccc502c637f"
            ],
            [
                "9896f80b9b94bef5"
            ]
        ]
    },
    {
        "id": "5f47dfcbb6c4f4ff",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1040,
        "wires": []
    },
    {
        "id": "899a8ccc502c637f",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "mfd",
        "func": "let mfd = Buffer.from(msg.payload.advertisement.manufacturerData);\n\n// msg.payload.mman_type = typeof (mfd);\n// msg.payload.mman_str = JSON.stringify(mfd);\n// msg.payload.mman_obj = JSON.parse(JSON.stringify(mfd));\n\nmsg.payload.mman_bl = mfd[3];\nmsg.payload.mman_tl1 = mfd[4];\nmsg.payload.mman_tl2 = mfd[5];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "5f47dfcbb6c4f4ff",
                "4a7f1635efdf09bc"
            ]
        ]
    },
    {
        "id": "9896f80b9b94bef5",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1280,
        "wires": []
    },
    {
        "id": "532f8cf32bd3497c",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "a50cae230ad147cc",
        "name": "",
        "label": "",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "yAxisProperty": "",
        "ymin": "-2",
        "ymax": "204",
        "action": "append",
        "pointShape": "line",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff2e91",
            "#ff80bc",
            "#ff2f92",
            "#ff2f92",
            "#ff2f92",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "6",
        "height": "6",
        "className": "",
        "x": 1940,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "4a7f1635efdf09bc",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:69",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "88:6b:0f:f4:cc:73",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "779d0d7c615dc92b",
                "0dda6c321dade9ce",
                "f33d6cab84b83819"
            ],
            [
                "ce71a173805b6bce",
                "240a9780e33c1538",
                "5e710f6a3ccc913f"
            ],
            []
        ]
    },
    {
        "id": "779d0d7c615dc92b",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 1 Battery Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_bl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1060,
        "wires": [
            [
                "01b0874bb51dd445"
            ]
        ]
    },
    {
        "id": "0dda6c321dade9ce",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 1 Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "16279e1b0e5369bf",
                "53f93ddbaa785228",
                "985575374b7203b9"
            ]
        ]
    },
    {
        "id": "f33d6cab84b83819",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 1 Level Alt",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1 Alt",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "ce71a173805b6bce",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 2 Battery Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2 [%]",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_bl",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1220,
        "wires": [
            [
                "01b0874bb51dd445"
            ]
        ]
    },
    {
        "id": "240a9780e33c1538",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 2 Level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1260,
        "wires": [
            [
                "41cc0c8ffc83553e",
                "936691a3fed1656d",
                "985575374b7203b9"
            ]
        ]
    },
    {
        "id": "5e710f6a3ccc913f",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "Tank 2 Level Alt",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2 Alt",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mman_tl2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "99d27a219a9e5136",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "ab9594709675199f"
            ]
        ]
    },
    {
        "id": "a56a718a7243b9e2",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 700,
        "wires": [
            [
                "67b30e90fc149ad2"
            ]
        ]
    },
    {
        "id": "d513c7470ec52861",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "45f2f3c5f31d57aa"
            ]
        ]
    },
    {
        "id": "45f2f3c5f31d57aa",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "ee81589423417d70"
            ]
        ]
    },
    {
        "id": "e0a3f254f8dc5743",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Battery current (A)"
        },
        "name": "",
        "onlyChanges": false,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "f336f5790df925fd"
            ]
        ]
    },
    {
        "id": "d761c63aeb9d6f21",
        "type": "victron-input-battery",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.battery/278",
        "path": "/ConsumedAmphours",
        "serviceObj": {
            "service": "com.victronenergy.battery/278",
            "name": "1. Shunt"
        },
        "pathObj": {
            "path": "/ConsumedAmphours",
            "type": "float",
            "name": "Consumed Amphours (Ah)"
        },
        "name": "",
        "onlyChanges": false,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "44d6c05657f151c3"
            ]
        ]
    },
    {
        "id": "44d6c05657f151c3",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bcah",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "effea666fd6300ab"
            ]
        ]
    },
    {
        "id": "f336f5790df925fd",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ba",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "effea666fd6300ab"
            ]
        ]
    },
    {
        "id": "effea666fd6300ab",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "7465cd70648e0ec0"
            ]
        ]
    },
    {
        "id": "7465cd70648e0ec0",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.bttf",
                "pt": "msg",
                "to": "(payload.bcah / payload.ba) * 60 * 60",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bttf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "20afb562ad4dc09e"
            ]
        ]
    },
    {
        "id": "20afb562ad4dc09e",
        "type": "switch",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "property": "payload.ba",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "678c2d045ecaecc6",
                "c489b877a783edd4"
            ],
            [
                "faa8d65f86c5c83c"
            ]
        ]
    },
    {
        "id": "678c2d045ecaecc6",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.bttf",
                "pt": "msg",
                "to": "$round($abs(payload.bttf))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "040f6779bbafbcae"
            ]
        ]
    },
    {
        "id": "040f6779bbafbcae",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "bttf",
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "99fe4a15f8e94e8a"
            ]
        ]
    },
    {
        "id": "91b8bb52f3d96da0",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee81589423417d70",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "btg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "af76b5082a764a1e",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "be0779efea1468b3"
            ]
        ]
    },
    {
        "id": "be0779efea1468b3",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($length(payload.btg) > 0 ? (payload.btg & \" \") : \"\") & payload.bttf",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 280,
        "wires": [
            [
                "8de0f31731dac937"
            ]
        ]
    },
    {
        "id": "faa8d65f86c5c83c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "discharging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "c489b877a783edd4",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "charging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "➕",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "af76b5082a764a1e"
            ]
        ]
    },
    {
        "id": "f6b8e7cfe2198a74",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humanized\":\"\"}",
        "payloadType": "json",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "ee81589423417d70"
            ]
        ]
    },
    {
        "id": "99fe4a15f8e94e8a",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized & \" to 100%\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 420,
        "wires": [
            [
                "91b8bb52f3d96da0"
            ]
        ]
    },
    {
        "id": "4678d0f8938dded2",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "4aba53c8ecc5ba64"
            ]
        ]
    },
    {
        "id": "323ba4bb6a02455b",
        "type": "inject",
        "z": "f8aa3235cf2ec5d8",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "4aba53c8ecc5ba64"
            ]
        ]
    },
    {
        "id": "4aba53c8ecc5ba64",
        "type": "victron-output-solarcharger",
        "z": "f8aa3235cf2ec5d8",
        "service": "com.victronenergy.solarcharger/279",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.solarcharger/279",
            "name": "2. Solar"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Charger on/off",
            "enum": {
                "1": "On",
                "4": "Off"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 330,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f231abf29a762452",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "b5a02095750de218",
        "name": "",
        "label": "",
        "order": 1,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "0",
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff2f92",
            "#ff2f92",
            "#ff40ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "3",
        "height": "1",
        "className": "",
        "x": 1700,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "16279e1b0e5369bf",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 1 [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1280,
        "wires": [
            [
                "f231abf29a762452"
            ]
        ]
    },
    {
        "id": "41cc0c8ffc83553e",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Tank 2 [%]",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1320,
        "wires": [
            [
                "f231abf29a762452"
            ]
        ]
    },
    {
        "id": "169681593f4ba96c",
        "type": "ui-template",
        "z": "f8aa3235cf2ec5d8",
        "group": "",
        "page": "",
        "ui": "718f5fabaac10b79",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "div.my-row-span-3 {\n    grid-row-end: span 3;\n}\n\ndiv.my-chart-vertical-large {\n    height: 278px;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 120,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "01b0874bb51dd445",
        "type": "ui-chart",
        "z": "f8aa3235cf2ec5d8",
        "group": "3f46b93f98d0309b",
        "name": "",
        "label": "",
        "order": 9007199254740991,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "category",
        "yAxisProperty": "",
        "ymin": "0",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0096ff",
            "#0096ff",
            "#0433ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": "3",
        "height": "6",
        "className": "",
        "x": 1700,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "53f93ddbaa785228",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 900,
        "wires": [
            [
                "91a05c7285d41477"
            ]
        ]
    },
    {
        "id": "91a05c7285d41477",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1710,
        "y": 900,
        "wires": [
            [
                "532f8cf32bd3497c"
            ]
        ]
    },
    {
        "id": "936691a3fed1656d",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 960,
        "wires": [
            [
                "23943d43eaccc13d"
            ]
        ]
    },
    {
        "id": "23943d43eaccc13d",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1710,
        "y": 960,
        "wires": [
            [
                "532f8cf32bd3497c"
            ]
        ]
    },
    {
        "id": "985575374b7203b9",
        "type": "join",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 840,
        "wires": [
            [
                "111c598ba566e53c"
            ]
        ]
    },
    {
        "id": "111c598ba566e53c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "sum",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Total",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lookup(payload, \"Tank 1\") + $lookup(payload, \"Tank 2\") + 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 840,
        "wires": [
            [
                "f594c52153c1569a",
                "dc3cf8913664907c"
            ]
        ]
    },
    {
        "id": "f594c52153c1569a",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 840,
        "wires": [
            [
                "14211c1fbfee9c71"
            ]
        ]
    },
    {
        "id": "14211c1fbfee9c71",
        "type": "trigger",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1710,
        "y": 840,
        "wires": [
            [
                "532f8cf32bd3497c"
            ]
        ]
    },
    {
        "id": "604cf414bf88090e",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "LPG ttg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2240,
        "y": 860,
        "wires": []
    },
    {
        "id": "fcaa3a6729bb96de",
        "type": "humanizer",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "input": "",
        "x": 2250,
        "y": 780,
        "wires": [
            [
                "ac0e4f80a45dfa0d",
                "a1e16f7256a0283c"
            ]
        ]
    },
    {
        "id": "ac0e4f80a45dfa0d",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "LPG ttg humanized",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.humanized",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 2510,
        "y": 700,
        "wires": []
    },
    {
        "id": "75fdd7eb37877cc9",
        "type": "function",
        "z": "f8aa3235cf2ec5d8",
        "name": "compute rate of change",
        "func": "// prepare array to hold samples with timestamps\nvar samples = context.get(\"samples\") || [];\n\n// remember incoming sample and forget oldest sample\n// keep 60 samples, assuming one hour of history\n// when messages coming in at rate 1 per minute\nsamples.push({value: msg.payload, timestamp: Date.now()});\nif (samples.length > 60) {\n    samples.shift();\n}\n\n// store samples\ncontext.set(\"samples\", samples);\n\n// get oldest and newest sample\nlet previousSample = samples[0];\nlet currentSample = samples[samples.length - 1];\n\nmsg.previousSample = previousSample;\nmsg.currentSample = currentSample;\n\nmsg.difference = currentSample.value - previousSample.value;\nmsg.duration = currentSample.timestamp - previousSample.timestamp;\n\n// duration between oldest and newest sample\n// assume one hour if not enough samples collected\nvar duration = msg.duration; \nif (duration <= 0) {\n    duration = 60*60*1000;\n}\n\n// difference between oldest and newest sample\n// assume 1 percent per one hour if not enough samples collected\n// or if tanks being filled (positive difference)\nvar difference = msg.difference;\nif (difference >= 0) {\n    difference = duration / (60*60*1000) * -1;\n}\n\n// compute rate\nmsg.rate = 1000.0 * difference / duration;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 780,
        "wires": [
            [
                "a5e32179a5feb459",
                "e86322029b8c2163"
            ]
        ]
    },
    {
        "id": "bfdb4ad5f8fe8420",
        "type": "ui-text",
        "z": "f8aa3235cf2ec5d8",
        "group": "b5a02095750de218",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#444444",
        "className": "",
        "x": 2670,
        "y": 780,
        "wires": []
    },
    {
        "id": "a1e16f7256a0283c",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humanized",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2500,
        "y": 780,
        "wires": [
            [
                "bfdb4ad5f8fe8420"
            ]
        ]
    },
    {
        "id": "a5e32179a5feb459",
        "type": "debug",
        "z": "f8aa3235cf2ec5d8",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 680,
        "wires": []
    },
    {
        "id": "dc3cf8913664907c",
        "type": "delay",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1520,
        "y": 780,
        "wires": [
            [
                "75fdd7eb37877cc9"
            ]
        ]
    },
    {
        "id": "e86322029b8c2163",
        "type": "change",
        "z": "f8aa3235cf2ec5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(-payload / rate)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 780,
        "wires": [
            [
                "604cf414bf88090e",
                "fcaa3a6729bb96de"
            ]
        ]
    }
]